= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|

  %legend= t('.changing_password')
  
  = devise_error_messages!
  = f.hidden_field :reset_password_token 

  .control-group
    = f.label :password, t('.new_password'), :class => 'control-label'
    .controls
      = f.password_field :password
      
  .control-group
    = f.label :password_confirmation, t('.new_password_confirmation'), :class => 'control-label'
    .controls
      = f.password_field :password_confirmation

  .control-group
    .controls
      = f.submit t('.change_password'), :class => ['btn','btn-primary']

= render "devise/shared/links"
