.tabbable
  %ul{:class => ['nav','nav-pills']}
    %li{:class => 'active'}
      %a{:href => "#info", :data => {:toggle => "tab"}} Информация
    %li
      %a{:href => "#feedbacks", :data => {:toggle => "tab"}} Отзывы
    
  %legend= @advocate
  
  %div{:class => 'row tab-content'}
    %div{:class => ['tab-pane','active'], :id => "info"}
      .span2
        = image_tag('advocate.jpg', :size => "150x150")
      .span6
        .well
          %p= acol_link_with_bolded_prefix(@advocate.acol)
          %p= t_reg_num(@advocate)
          %p= t_status(@advocate)
          %p= t_info_review_date(@advocate.updated_at)
          
            
    %div{:class => ['tab-pane'], :id => "feedbacks"}
